@using Microsoft.AspNetCore.Http.Extensions;
@model ReviewModel
@{
    var returnUrl = Context.Request.GetEncodedUrl();
}
@using (Html.BeginForm("AddReview", "Reviews", FormMethod.Post))
{
    @Html.Hidden("returnUrl", returnUrl)
    // Rest of your form fields go here...
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add review for @Model.Subject</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form-container">
                <input type="hidden" id="Email" name="Email" value="@Model.Email" />
                <input type="hidden" id="Username" name="Username" value="@Model.Username" />
                <input type="hidden" id="Subject" name="Subject" value="@Model.Subject" />
                <input type="hidden" id="SubjectType" name="SubjectType" value="@Model.SubjectType" />
                <input type="hidden" id="Title" name="Title" value="@Model.Title" />

                @*<div class="mb-3">
                    <label for="@Model.Title" class="col-form-label">Title</label>
                    <input id="@Model.Title" name="Title" class="form-control" autocomplete="off" required placeholder="Enter the title" value="@Model.Title" />
                </div>*@
                <div class="mb-3">
                    <label for="@Model.Message" class="col-form-label">What do you have to say about it?</label>
                    <textarea id="@Model.Message" name="Message" class="form-control" placeholder="Enter your message">@Model.Message</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Post review</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
}