@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@model List<AlbumModel>
@{
    ViewData["Title"] = "Home Page";
    var environment = _configuration.GetValue<string>("Environment");
    var albumList = Model;

}
@*<div class="carousel-caption d-none d-md-block position-absolute bottom-0 start-0">
</div>*@
<h2 class="text-muted">Home</h2>
<div class="text-center position-relative">
    <h1 class="display-4">In @environment</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < albumList.Count(); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="card w-100">
                        <div class="row g-0">
                            <div class="col-auto position-relative">
                                <a class="nav-link active p-0" asp-controller="Albums" asp-action="Album" asp-route-name="@albumList[i].Name">
                                    <img src="~/images/Albums/@(albumList[i].Name).jpg" id="home_image" class="img-fluid">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <p id="index_text" class="h2 text-center">@albumList[i].Name</p>
                                    <p id="index_text" class="h3 text-center">@albumList[i].Artist</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <a class="nav-link active p-0" id="link" style="width: max-content;" asp-controller="Albums" asp-action="Album" asp-route-name="@albumList[i].Name">
                                        <p class="display-6">
                                            <i>
                                                <p class="display-4">@albumList[i].Name</p>
                                            </i>
                                        </p>
                                    </a>

                                    <a class="nav-link active p-0" id="link" style="width: max-content;" asp-controller="Artists" asp-action="Artist" asp-route-name="@albumList[i].Artist">
                                        <p class="display-6">
                                            <i>
                                                @albumList[i].Artist
                                            </i>
                                        </p>
                                    </a>

                                    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                                        <div class="container g-0">
                                            <div class="row row-cols-3">
                                                <span class="col text-begin mb-3 mb-md-0">Genre</span>
                                                <span class="col text-center mb-3 mb-md-0">Year</span>
                                                <span class="col text-end mb-3 mb-md-0">Sentiment</span>
                                                <span class="col text-begin mb-3 mb-md-0">
                                                    <a class="nav-link p-0" asp-controller="Genres" asp-action="Genre" asp-route-name="@albumList[i].Genre" id="link">
                                                        <i>
                                                            @albumList[i].Genre
                                                        </i>
                                                    </a>
                                                </span>
                                                <span class="col text-center mb-3 mb-md-0">@albumList[i].Year</span>
                                                <span class="col text-end mb-3 mb-md-0">TBD!!!</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text indent">@albumList[i].ShortDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="bd-example">
        @*<ul class="list-inline">
            <li class="list-inline-item">This is a list item.</li>
            <li class="list-inline-item">And another one.</li>
            <li class="list-inline-item">But they're displayed inline.</li>
        *@
        <ul id="categories" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 list-inline">
            <li class="nav-item list-inline-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Albums" asp-action="Index">Albums </a>
                </li>
            </ul>
    </div>

    <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="left: 10px;">
        <i class="bi bi-caret-left-fill"></i>
    </button>
    <button class="carousel-control-next position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="right: 10px;">
        <i class="bi bi-caret-right-fill"></i>
    </button>
</div>