@model AlbumModel
@{
    var album = Model;
}
@*data-bs-whatever="@album.Name"*@

@*@using(Html.BeginForm("AddReview", "Review",FormMethod.Post, new { id = "form-accountedit-appt" }))
{
    @*<div class="mb-3">
        @Html.ValidationSummary(true)

        @Html.LabelFor(Model => Model.Item1.Name)
        @Html.TextBoxFor(Model => Model.Item1.Name)
        @Html.ValidationMessageFor(Model => Model.Item1.Name)
    </div>
    <form>
        <div class="container">
            <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="2">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="recipient-name">
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">What do you have to say about it?</label>
            <textarea class="form-control" id="message-text"></textarea>
        </div>
    </form>

    <button type="submit">Edit</button>
}*@
@*@using (Html.BeginForm("AddReview", "Reviews", FormMethod.Post, new { newReview = "form-addReview" }))
    *@

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="albumModalLabel">Add review for @album.Name</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="form-container">
            <p>_AddReview from Reviews</p>
            <form method="post">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Title</label>
                    <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">What do you have to say about it?</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post review</button>
        </div>
    </div>
</div>