@using LicentaApp.Models.ViewModels
@model IndexAlbumNameViewModel
@{
    var album = Model.Album;
    var reviewList = Model.ReviewList;
    var newReview = Model.NewReview;//TODO
}

<div class="row py-4 g-0">
    <div class="col-md-3" id="image_col">
        <img src="~/images/Albums/@(album.Name).jpg" id="artist-album_image">
        <ul class="pt-3 list-group list-group-flush list-group-numbered">
            @foreach (var song in @album.Songs.ToList())
            {
                <li class="list-group-item ">
                    <span>@song</span>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <p class="display-4">@album.Name</p>
                </div>
                <div class="col-auto">
                    @*<form class="col h-25" method="post">
                    @*<button asp-route="Custom" class="btn btn-outline-primary">Rate this album</button>
                    <button asp-route="AddReview" class="btn btn-outline-primary">Rate this album</button>
                    </form>*@
                    @{
                        if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#albumModal" data-bs-whatever="@album.Name">
                                Rate this album
                            </button>
                        }
                    }

                </div>
            </div>

            <a class="nav-link active p-0" id="link" style="width: max-content;" asp-controller="Artist" asp-action="Index" asp-route-name="@album.Artist">
                <p class="display-6">
                    <i>
                        @album.Artist
                    </i>
                </p>
            </a>

            <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                <div class="container g-0">
                    <div class="row row-cols-3">
                        <span class="col text-begin mb-3 mb-md-0">Genre</span>
                        <span class="col text-center mb-3 mb-md-0">Year</span>
                        <span class="col text-end mb-3 mb-md-0">Rating</span>
                        <span class="col text-begin mb-3 mb-md-0">
                            <a class="nav-link p-0" asp-controller="Genre" asp-action="Index" asp-route-name="@album.Genre" id="link">
                                <i>
                                    @album.Genre
                                </i>
                            </a>
                        </span>
                        <span class="col text-center mb-3 mb-md-0">@album.Year</span>
                        <span class="col text-end mb-3 mb-md-0">@album.Rating/5</span>
                    </div>
                </div>
            </div>
            <p class="card-text indent">@album.Description</p>
        </div>

        @{
            if (@reviewList.Count > 0)
            {
                <h3 class="text-muted ps-4">@reviewList.Count() Reviews</h3>
            }
            else
            {
                <h3 class="text-muted ps-4">There are no reviews for this issue. You can write a review by pressing the "Rate this album" button above.</h3>
            }
        }

        @foreach (var review in @reviewList)
        {
            <div class="ps-3 pt-3">
                <p class="h2">@review.Username</p>

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
                    <p class="h3">@review.Title</p>
                    <div class="container g-0">
                        <span class="card-text indent">@review.Message</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal Scripts-->
@*@section Scripts {
    <script>
        $(document).ready(function () {

            $('#albumModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $("#albumModal").on("submit", "#form-accountprofileedit", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (partialResult) {
                        $("#formContent").html(partialResult);
                    }
                });
            });


        });

    </script>
}*@

<!-- Modal -->
@*<div class="modal fade" id="albumModal" tabindex="-1" aria-labelledby="albumModallLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    @Html.Partial("~/Views/Shared/_AddReview.cshtml",newReview)
</div>
*@
<!-- Modal -->
<div class="modal fade" id="albumModal" tabindex="-1" aria-labelledby="albumModallLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    @Html.Partial("~/Views/Shared/_AddReview.cshtml", Model.NewReview)
</div>



