@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@model List<AlbumModel>
@{
    ViewData["Title"] = "Index Albums";
    var environment = _configuration.GetValue<string>("Environment");
    var albumList = Model;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 class="text-muted">Albums</h1>
@foreach (var album in albumList)
{
    <div class="row justify-content-center py-4 g-0">
        <div class="col-4" id="image_col">
            <a class="nav-link active p-0" asp-controller="Album" asp-action="Index" asp-route-name="@album.Name">
                <img src="@album.Image">
            </a>
        </div>
        <div class="col-4 justify-content-center flex-column d-inline-flex">
            <a class="nav-link active p-0" asp-controller="Album" asp-action="Index" asp-route-name="@album.Name">
                <h1 class="text-center" id="link">
                    <u>
                        @album.Name
                    </u>
                </h1>
            </a>
            <a class="nav-link active p-0" asp-controller="Artist" asp-action="Index" asp-route-name="@album.Artist">
                <h3 class="text-center" id="link">
                    <u>
                        @album.Artist
                    </u>
                </h3>
            </a>
            <a class="nav-link active p-0" asp-controller="Genre" asp-action="Index" asp-route-name="@album.Genre">
                <h5 class="text-center" id="link">
                    <u>
                        @album.Genre
                    </u>
                </h5>
            </a>
        </div>
    </div>
}