@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@model List<AlbumModel>
@{
    ViewData["Title"] = "Index Albums";
    var environment = _configuration.GetValue<string>("Environment");
}

<h1>Index Albums</h1>
@foreach (var obj in Model)
{
    <div class="row g-0">
        <div class="col-md-4">
            @*<svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>
        Placeholder
        </title>
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
        </svg>*@
            @if (environment == "Development")
            {
                <img src="~/images/testImage.png" height="100%" width="100%" />
                @*<img src="https://e.snmc.io/i/600/w/97747c35e070433549c1c691b4d97b28/7024368/death-grips-exmilitary-Cover-Art.jpg" height="350" width="100%" />*@

            }
            @if (environment == "Production")
            {
                <img src="~/images/musicNote.svg" height="250" width="100%" />
            }

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="display-4">@obj.Name</h1>
                <a class="nav-link active" href="/Artist/@obj.Artist">
                    <h1 class="display-6">@obj.Artist</h1>
                </a>

                <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1 border-top">
                    <span class="text-beginmb-3 mb-md-0 ">@obj.Genre</span>
                    <span class="text-center mb-3 mb-md-0 ">@obj.Year</span>
                    <span class="text-end mb-3 mb-md-0 ">@obj.Rating</span>
                </div>


                <p class="card-text">@obj.Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
}