@using LicentaApp.Models.ViewModels
@model IndexArtistListViewModel
@{
    var artistList = Model.ArtistList;
    var albumsToArtist = Model.AlbumsToArtist;
    var sortOrder = Model.SortOrder;
    var pageNumber = Model.PageNumber;
    var maxPages = Model.MaxPages;
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="d-flex justify-content-between bd-highlight">
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="text-muted">Artists</h2>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <span class="text-muted">
            @{
                if (sortOrder.Equals("asc"))
                {
                    <a id="sort_buttons" asp-controller="Artists" asp-action="Index" asp-route-sortOrder="desc">
                        <i id="sort_buttons" class="bi bi-sort-alpha-down-alt"></i>
                    </a>
                }
                else
                {
                    <a id="sort_buttons" asp-controller="Artists" asp-action="Index" asp-route-sortOrder="asc">
                        <i id="sort_buttons" class="bi bi-sort-alpha-down"></i>
                    </a>
                }
            }
        </span>
    </div>
</div>
@*<h1 class="text-muted">Artists</h1>*@
<div class="wrapper d-flex justify-content-center align-items-center">
    <ul class="list-group list-group-flush justify-content-center text-center w-50">
        @foreach (var artist in artistList)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a id="link" asp-controller="Artists" asp-action="Artist" asp-route-name="@artist.Name">
                    <h1>
                        <i>
                            @artist.Name
                        </i>
                    </h1>
                </a>
                <span class="badge bg-primary rounded-pill display-6 text-end p-2">@albumsToArtist[$"{artist.Name}"]</span>
            </li>
        }
    </ul>
</div>
<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
        @if (pageNumber > 0)
        {
            <a id="link" asp-controller="Artists" asp-action="Index" asp-route-page="@(pageNumber - 1)">
                <i style="font-size: 48px;" class="bi bi-arrow-left-circle"></i>
                @*backwards*@
            </a>
        }

        @if (pageNumber < maxPages - 1)
        {
            <a id="link" asp-controller="Artists" asp-action="Index" asp-route-page="@(pageNumber + 1)">
                <i style="font-size: 48px;" class="bi bi-arrow-right-circle"></i>
                @*forwards*@
            </a>
        }
    </div>
</div>